@using System.Globalization
@{
    ViewData["Title"] = "Privacy Policy";
    Layout = "_Layout";
}
<div class="container">
<div class="" style="padding-top:3%; color:black">
@if (CultureInfo.CurrentCulture.Name == "en-US")
{
    <div dir="ltr">
         <h1>O2Fit -کالری شمار و رژیم غذایی</h1>
            <br \>
            <h1>Privacy policy statement</h1>
            <p>
                Intimation of O2fit policy and privacy informs users about their
                responsibilities and makes them aware of selecting a behavior so that
                their personal information is not been abused.
            </p>
            <p>
                This secrecy policy is complied and executed by international O2Fit data
                processing cooperation (Private Corporation), the owner of O2Fit
                software.
            </p>
            <p>
                These policies may periodically amend or change.If there are made
                alternations based on collecting procedure, using, and or data
                transition, we make you aware of the reformed version of the secrecy
                policy through application and website.If you use the O2fit system
                after 4 days, it will be considered as awareness and acceptance of all
                the provisions.If O2fit starts to collect the information except for
                the mentioned cases in this intimation, it is obligatory to have your
                consent.
            </p>
            <p>This intimation refers to the following cases:</p>
            <h3>1.A personal information set </h3>
            <p>
                O2fit collects and uses your information for Increase product quality and
                efficiency in websites and the other programs of O2Fit.
            </p>
            <p>
                O2fit will never share your information with others. If O2fit use them to
                develop its own business, it should present a behavior so that the users
                are not known.
            </p>
            <h4>Users’ information</h4>
            <p>
                Furthermore the information of an individual that is required to develop
                a user account, we also collect O2fit standard information, such as:
            </p>
            <p>
                a) The information related to a personal diet as birth, height and
                weight, genes, and the special details of foods and drinks that you use
                and the exercises you do and your sent tests results.
            </p>
            <p>b) Email address or cellphone number</p>
            <p>c) Your IP address, browser type and, working operating system. </p>
            <p>d) Visited and referred pages, websites, and visits dates and time. </p>
            <p>
                e) You make data available using the tools that exist on websites or
                through a program or send them publicly.
            </p>
            <p>f) You may give the information to a user in a user’s messages. </p>
            <p>g) The collected information from ads and third party firms. </p>
            <p>
                h) The information shared by tutors, and physicians.Also the information
                such as name, the firm’s name and the pictures they have presented.
            </p>
            <p>
                i) Supplementary information: your information may be completed with the
                additional information of the other resources, such as the available
                public resources.
            </p>
            <h3>2. Using the personal information</h3>
            <p>
                We will treat confidentially with the collected information, and we do
                not share your identification of personal information without your
                assenting.
            </p>
            <p>We may: </p>
            <p>
                -Share the information that does not potentially cause your
                identification, like the average of users’ weight reduction and or
                general information about eating habits, diets, and exercises. And this
                information develops based on collected statics from data, and or data
                that does not determine as a special user.
            </p>
            <p>- For proving the services and products that you request us. </p>
            <p>
                - Whereas cooperating in challenges, competence, and opinion polls of
                O2fit, we may fulfill the advertisement with the other cooperated
                supporters.
            </p>
            <p>
                - To share the users’ unidentifiable information in events and market
                analysis for the commercial objectives for marketing or improving the
                services.
            </p>
            <p>
                - If, based on a legal judgment, O2fit is to be liable to give personal
                information to cognizable authorities.
            </p>
            <p>
                Users’ information is considered as a part of the international O2Fit
                team assets. So if there is done a commercial transaction, like
                integration with another firm, or purchasing a part of the international
                O2Fit team asset the considered organization is obliged to treat with
                users’ personal information, diets, and such information, according to
                the secrecy policy.
            </p>
            <p>
                In some situations, we may take action through third party contractors to
                perform the services. In this way, they will be provided only with the
                necessary information to render the services (e.g. in the case of
                recovering a physical product to you by a contractor, your name and
                address are presented o the contractor) and all contractors are asked to
                endeavor in retaining the personal information.
            </p>
            <p>
                Despite all the above issues, users’ collected data, except ads in
                importing health to prove safety and health, and or the other O2Fit team
                software will not be used.
            </p>
            <h3>3. Collected information security</h3>
            <p>
                We have done commercial-security measures to protect your information
                against security violations.For instance, we store the personal dietary
                information in a limited and safe accessible possibility. And we take
                advantage of standard firewalls and security software which have
                designed to protect the security and the information integrity.
            </p>
            <p>
                However, there is no guarantee for accessing information, revelation,
                alteration, or destruction of information.
            </p>
            <p>
                Using O2fit and programs and websites and its services, you confirm the
                achieving the perception of these dangers and if each of the above cases
                occurs, we do not accuse the international O2Fit data processing
                cooperation (Private Corporation).
            </p>
            <h3>4. Supporting children privacy</h3>
            <p>
                O2fit.com is a popular site and we do not intend to serve the children.
                If you are less than 18 years old, you are not allowed to use a website,
                and or software of O2fit (see the public regulations of data protection
                (COPPA). The international O2Fit team will block such individuals’
                accounts.
            </p>
            <h3>5. Using cookies and tracking technology</h3>
            <p>
                The cookies have short textual files that place on a user’s hardware hard
                disc and make the access of primary information more simply as some
                regulations in reentering to a website, avoiding re-registration in any
                entrance to the website.
            </p>
            <p>
                We use cookies to obtain internet usage knowledge improving content and
                advertisement, collecting visited sites data and in some cases, they are
                used to present the professional issues.
            </p>
            <p>
                Some of our advertisers and business partners sometimes use it.O2fit has
                no monitoring of used cookies by its advertisers and business partners.
            </p>
            <p>
                If you don’t want to use the cookies, you can achieve this wish by
                inactivating them on your browser.It is necessary to note that in this
                way, a part of the website may not act correctly.
            </p>
            <h3>6. Connecting with the other websites</h3>
            <p>
                Our website may connect with other websites.Note that we aren’t
                responsible for other webs’ and firms’ procedures for privacy
                protection. So we encourage you to investigate the other websites’
                privacy protection policies that you connect to them in this way.The
                third parties’ proceedings and policies are not under our control.
            </p>
            <h3>7. Legal and civil bases</h3>
            <p>For data processing, we will proceed based on the following bases: </p>
            <h4>Contrast revenue: </h4>
            <p>
                if you begin to promote the program through
                the website, you must assist the necessities of O2fit’s intended
                individuals’ particulars presentation so that your request is agreed
                upon.
            </p>
            <h4>Satisfaction: </h4>
            <p>
                we are allowed by ourselves using some of your
                given personal information that has mentioned in this intimation of
                privacy protection policy, and we make you pleased.
            </p>
            <h4>Legitimate advantage: </h4>
            <p>
                Using your personal information to
                improve the products and services for commercial or health aims and the
                other O2Fit team software that would have done along with this policy
                are a part of our legitimate advantages has been proven by your
                satisfaction.
            </p>
            <h4>Data processing: </h4>
            <p>
                Users’ data processing toward their geographic
                condition and, based on local limitations, traffic and so on, will be
                performed according to the technical group’s decision making of the
                international O2Fit data processing cooperation (a private corporation),
                regarding O2Fit team’s defined algorithms.
            </p>
            <h3>8. Data preservation and information omission</h3>
            <p>
                We will retain your personal information only until achieving the aims to
                which they have been gathered and processed, such as legitimate,
                regulatory, audit, and declarative accountability.
            </p>
            <p>
                Our policy is to retain your personal information for six months after
                your user account omission or disuse.It is necessary to note that the
                international O2Fit team secures the right of using users’ personal
                information along with this policy intimation for more than six months
                for itself.
            </p>
            <h3>9. Access and permission</h3>
            <p>
                a) Photos and camera (Camera Roll)
                We need permission to use the camera or photo gallery of your mobile
                device
                to include personal food pictures and your profile picture, and you can
                give
                us permission to use your camera or photo gallery at your own will.
                We do not share this information with third parties and this information
                is
                kept completely confidential by us.
            </p>
        
            <p>
                b) Background process (Battery Management)
                We need to run the program in the background to count your steps, and
                you
                can give us this permission to count your steps.
                We do not share this information with third parties and this information
                is
                kept completely confidential by us.
            </p>
            <p>
                c) Internet access
                We need to use the Internet to back up all information entered by users
                on
                the server, data such as tracked foods, tracked water, recorded weights,
                recorded exercises by users.
                We do not use the Internet of users' phones in any way, except for the
                mentioned cases
            </p>
            <p>
                d) Read and write in storage
                We use read and write access to storage for storing all information
                including foods, water, workouts, personal food , sleep, personal
                calories,
                cached videos and images.
            </p>
            <p>
                e) Use exact alarm
                We need to use this permission to set up reminders to record food meals,
                water, sleep, which you give us this rent of your own free will.
            </p>
            <p>
                While say welcome to you, if there are any questions or suggestions, you
                can contact info@o2Fit.com.
            </p>
            <p> O2Fit team </p>
            <p> The last update, On Jan. 2023 </p>
    </div>
   
}
else
{
    <div style="direction:rtl">
        <h1>
            اعلامیه خط مشی و حفظ حریم خصوصی
        </h1>
        <p>
            اعلامیه خط مشی و حفظ حریم خصوصی O2Fit ، کاربران را نسبت به مسئولیتهای خود در این خصوص آگاه ساخته و آنان را مطلع می سازد که رفتاری را برگزینند تا اطلاعات شخصی شان مورد سوء استفاده قرار نگیرد .
        </p>
        <p>
            این خط مشی رازداری، توسط شرکت داده پردازی اکسیژن ملل(سهامی خاص) ، مالک نرم افزارهای اکسیژن ،تدوین و به اجرا گذاشته شده است .
        </p>
        <p>این سیاست ها ممکن است هر چند وقت یکبار ، اصلاح شده یا تغییر یابد. در صورتیکه تغییراتی در زمینه شیوه جمع آوری ، استفاده و یا انتقال اطلاعات ایجاد شود،از طریق اپلیکیشن و وب سایت اکسیژن فیت، نسخه جدید را به اطلاع شما می رسانیم. در صورتی که شما مدت 4 روز از سامانه O2Fit استفاده نمائید، به منزله آگاهی و قبول کلیه مفاد این اعلامیه تلقی می گردد . در صورتیکه O2Fit در صدد جمع آوری اطلاعاتی به جز موارد ذکر شده در این اعلامیه باشد، داشتن رضایت از طرف شما الزامی می باشد . </p>
        <p>این بیانیه به موارد زیر اشاره دارد: </p>
        <h3>
            1- مجموعه اطلاعات شخصی
        </h3>
        <p> O2Fit اطلاعات شخصی شما را به منظور استفاده و افزایش کیفیت محصول خود ، در وب سایتها و برنامه های گروه اکسیژن جمع آوری و استفاده می نماید . </p>
        <p> O2Fit اطلاعات شخصی شما را به هیچ عنوان با دیگران به اشتراک نخواهد گذاشت. در صورتیکه O2Fit در صدد توسعه تجارت خود ، از آنها استفاده نماید ، باید به گونه ای عمل کند تا کاربران شناخته نشوند . </p>
        <h4>اطلاعات کاربران شامل : </h4>
        <p>علاوه بر اطلاعات شخصی که لازمه ایجاد حساب کاربری می باشد ، ما اطلاعات استاندار O2Fitرا نیز جمع آوری می نماییم. از جمله</p> :
        <p>- داده های مرتبط با رژیم غذایی شخصی مانند : تولد ، قد و وزن ، جنس و جزئیات خاص غذاها و نوشیدنی هایی که شما مصرف میکنید و ورزش هائی که انجام می دهید و نتایج آزمایشات ارسالی شما</p>
        <p>- آدرس ایمیل و یا شماره تلفن همراه</p>
        <p>- آدرس آی پی ، نوع مرور گر و سیستم عامل مورد استفاده شما</p>
        <p>- صفحات بازدید شده، مراجعه شده و وب سایت ها ، و تاریخ ها و زمان بازدیدها</p>
        <p>- اطلاعاتی که با استفاده از ابزارهایی که در وب سایتها یا از طریق برنامه موجود است ، در دسترس عموم قرار می دهید یا به صورت عمومی ارسال می کنید. </p>
        <p>- اطلاعاتی که ممکن است در پیام های کاربر به کاربر ارائه دهید. </p>
        <p>- اطلاعات جمع آوری شده از تبلیغات با شرکت های شخص ثالث. </p>
        -
        <p> اطلاعات تکمیلی : اطلاعات شما ممکن است با اطلاعات اضافی از منابع دیگر ، از جمله منابع عمومی در دسترس ، تکمیل شود. </p>


        <h3> 2- استفاده از اطلاعات شخصی</h3>
        <p>
            ما با اطلاعاتی که جمع آوری می کنیم محرمانه رفتار خواهیم کرد و بدون رضایت شما اطلاعات شناسایی شخصی شما را به اشتراک نمی گذاریم.
            ممکن است:
        </p>
        <p>- اطلاعاتی را که بالقوه موجب شناسائی شما نشود را به اشتراک گذاریم مانند میانگین کاهش وزن کاربران و یا اطلاعات کلی درباره عادات غذائی ، رژیم های غذائی و ورزش ها. و این اطلاعات بر اساس آمارهای جمع آوری شده از داده ها ، گسترش می یابد و یا داده هائی که کاربر خاصی را مشخص نمی نماید.
        <p>
        <p>- برای تحقق خدمات و محصولاتی که از ما درخواست می کنید. </p>
        <p>- در صورت شرکت درچالش ها ، مسابقات و نظرسنجی ها ی O2Fit ، ممکن است تبلیغاتی را با سایر شرکتها به انجام رسانیم ، در این صورت هرگونه اطلاعات جمع آوری شده ممکن است با دیگر حامیان شرکت کننده ، به اشتراک گذاشته شود. </p>
        <p>- به اشتراک گذاشتن داده های غیر قابل شناسائی کاربران در رویدادها و تحلیل بازار برای اهداف تجاری به منظور بازاریابی یا بهبود خدمات. </p>
        <p>- در صورتی که بر اساس حکم قانون ، O2Fit ملزم به ارائه اطلاعات شخصی به مراجع ذیصلاح گردیده باشد</p> .
        <p>اطلاعات کاربران به عنوان بخشی از دارائی شرکت داده پردازی اکسیژن ملل (سهامی خاص) تلقی می گردد. لذا در صورت انجام یک انتقال تجاری ، مانند ادغام با شرکتی دیگر، یا فروش بخشی از دارائی شرکت داده پردازی اکسیژن ملل (سهامی خاص) ، سازمان مورد نظر موظف است با اطلاعات شخصی کاربران ، رژیم غذائی و یا چنین اطلاعاتی مطابق با این خط مشی رازداری رفتار نماید . </p>
        <p>در بعضی شرایط ممکن است ما با پیمانکاران شخص ثالث برای انجام خدمات از طریق آنان اقدام نمائیم. در اینصورت تنها اطلاعات لازم برای انجام خدمات مورد نظر در اختیار آنان قرار خواهد گرفت ( برای مثال در مورد تحویل یک محصول فیزیکی به شما توسط پیمانکار ، نام و آدرس شما به پیمانکار ارائه می گردد ) و از کلیه پیمانکاران خواسته می شود تا در حفظ اطلاعات شخصی شما کوشا باشند . </p>
        <p>با وجود تمام موارد فوق ، داده های جمع آوری شده کاربران ، بجز تبلیغات در زمینه بهبود سلامتی یا بمنظور تحقیق در زمینه بهداشت و سلامت، و یا سایر نرم افزارهای گروه اکسیژن استفاده نخواهد شد </p>.

        <h3> 3- امنیت اطلاعات جمع آوری شده</h3>
        <p>ما برای محافظت از اطلاعات شما در برابر نقض امنیتی، اقدامات احتیاطی تجاری را انجام داده ایم . به عنوان مثال ، ما اطلاعات شخصی رژیمی را در یک امکان دسترسی محدود و ایمن ذخیره می کنیم. و از فایروال های استاندارد و نرم افزارهای امنیتی که برای محافظت از امنیت و یکپارچگی اطلاعات طراحی شده اند، بهره می گیریم . با این وجود، تضمینی برای دسترسی به اطلاعات، افشا، تغییر یا نابودی اطلاعات شما نیست . با استفاده از O2Fit و برنامه ها و وب سایت ها و خدمات آن ، شما تائید می کنید که به درک این خطرات رسیده اید و در صورت بروز هر یک از موارد فوق ، شرکت داده پردازی اکسیژن ملل (سهامی خاص) را مقصر نمی دانید . </p>

        <h3> 4 - حمایت از حریم خصوصی کودکان</h3>
        <p>سایت O2Fitt.com سایتی عمومی است و ما درصدد خدمت رسانی به کودکان نیستیم . اگر سن شما کمتر از 18 سال است ، شما مجاز به استفاده از وب سایت و یا نرم افزار O2Fit نیستید. ( مراجعه به مقررات عمومی حفاظت از داده ها (COPPA ( (. شرکت داده پردازی اکسیژن ملل ( سهامی خاص ) ، حساب کاربری چنین افرادی را مسدود خواهد نمود . </p>
        <h3> 5 - استفاده از کوکی ها و فناوری ردیابی</h3>
        <p>کوکی ها دارای فایل های متنی کوتاهی هستند که بر روی هارد دیسک سخت افزار کاربر قرار گرفته و اطلاعات اولیه ای مانند برخی تنطیمات را در ورود دوباره به وب سایت ، جلوگیری از نیاز به ثبت نام مجدد در هر ورود به سایت ، دسترسی ها را سهل تر می سازند . </p>
        <p>ما از کوکی ها برای بدست آوردن دانش استفاده از اینترنت، بهبود محتوا و تبلیغات، جمع آوری داده های سایتهای بازدید شده و در برخی موارد برای ارائه مطالب تخصصی استفاده می نمائیم . </p>
        <p>برخی از تبلیغ کنندگان و شرکای تجاری ما، بعضی اوقات از آن استفاده می نمایند . O2Fit هیچگونه کنترلی بر کوکی های مورد استفاده تبلیغ کنندگان و شرکای تجاری خود ندارد . </p>
        <p>اگر شما نمی خواهید از کوکی ها استفاده کنید، با غیر فعال کردن کوکی بر روی مرور گر خود، می توانید به این خواسته دست یابید . لازم به ذکر است که در این صورت ممکن است بخشی از وب سایت به درستی عمل ننماید . </p>
        <h3> 6 - ارتباط با سایر وب سایت ها</h3>
        <p>وب سایت ما ممکن است با سایر وب سایتها در ارتباط باشد . توجه داشته باشید که ما مسئول شیوه های حفظ حریم خصوصی سایر سایت ها و شرکت ها نمی باشیم . لذا شما را به بررسی سیاستهای حفظ حریم خصوصی سایر سایت ها که از این طریق با آنها ارتباط برقرار می کنید ، تشویق می نمائیم . اقدامات و سیاستهای اشخاص ثالث در کنترل ما نیست . </p>
        <h3> 7 - مبانی حقوقی و قانونی پردازش اطلاعات</h3>
        <p>ما در زمینه پردازش اطلاعات ، بر اساس مبانی زیر اقدام خواهیم نمود : </p>
        <h4> عملکرد قرارداد: </h4>
        <p>در صورتی که شما اقدام به ارتقاء برنامه از طریق وب سایت می نمایید ، شما باید الزامات ارائه مشخصات فردی مورد نظر O2Fit را رعایت کنید تا با درخواست شما موافقت گردد . </p>
        <h4>رضایت: </h4>
        <p>ما خود را مجاز به استفاده از برخی اطلاعات شخصی ارائه شده شما که در این اعلامیه خط مشی و حفظ حریم خصوصی ذکر شده است می دانیم و رضایت شما جلب شده است . </p>
        <h4> منافع مشروع : </h4>
        <p> استفاده از اطلاعات شخصی شما در جهت بهبود محصولات و خدمات برای اهداف تجاری یا پزشکی و سایر نرم افزارهای گروه اکسیژن که در راستای این خط مشی رازداری صورت گیرد، بخشی از منافع مشروع ما بوده که با رضایت شما محقق شده است . </p>
        <h4>پردازش اطلاعات: </h4>
        <p>پردازش اطلاعات کاربران نسبت به موقعیت جغرافیایی آنان و بر اساس محدودیتهای منطقه ای ، ترافیکی و ... بر اساس تصمیم گیری تیم فنی شرکت داده پردازی اکسیژن ملل (سهامی خاص)،با توجه به الگوریتم های تعریف شده تیم اکسیژن صورت خواهد گرفت . </p>

        <h3> 8 - نگهداری داده ها و حذف اطلاعات</h3>
        <p>ما اطلاعات شخصی شما را تنها تا زمان تحقق اهدافی که بدان منظور جمع آوری و پردازش شده اند، از جمله: پاسخگوئی قانونی، نظارتی، حسابرسی و گزارشی حفظ خواهیم نمود . </p>
        <p>سیاست ما،حفظ اطلاعات شخصی شما به مدت 6 ماه پس از حذف حساب کاربری یا عدم استفاده از حساب کاربری شماست . لازم به ذکر است که شرکت داده پردازی اکسیژن ملل ( سهامی خاص ) ، حق استفاده از اطلاعات شخصی کاربران در راستای این اعلامیه خط مشی به مدت بیش از 6 ماه را برای خود محفوظ می دارد . </p>

        <p>ضمن خوش آمد گوئی به شما ، در صورت وجود هرگونه سوال یا پیشنهاد میتوانید با info@o2Fit.com تماس بگیرید . </p>

        <h3> تیم اکسیژن</h3>
        <p> آخرین بروز رسانی : 21 Jun 2020</p>
    </div>
}
</div>
</div>