@using System.Globalization

@{
    Layout = "_Layout";
}


<div class="container">
    <div class="" style="padding-top:3%; color:black">
        @if (CultureInfo.CurrentCulture.Name == "en-US")
        {
            <div dir="ltr">
                <h1>O2Fit app terms and conditions</h1>
                <h1>Rules and regulations for the use of O2Fit app</h1>
                <p>The following set includes conditions which have been legislated by O2Fit
                    Group in relation to O2Fit software and all website services, website
                    address, mobile apps and all other websites which are trading and serving
                    you as a user or a beneficiary of this service by this company and offered
                    to you by managers, staff, agents and each of dependent institutions to
                    O2Fit Group. </p>
                <p>You confirm that you have studied and agreed all the provisions of these
                    conditions by representing your mobile phone number or email address or by
                    creating a user account and you will consider and execute all determined
                    limits in this code and O2Fit Group will save the right to change or revise
                    it at any time and in any place and only through announcing you for once.
                </p>
                <p>Hereby, it includes all users such as those who use it exclusively for their
                    own personal diet and also those users who use it as physician or coach
                    (those who guide a group). </p>
                <p>Please read the conditions of this letter of agreement carefully and refer to
                    this part periodically to be aware of any changes. </p>
                <p>In the case that you don’t accept these conditions, please don’t use this
                    service. </p>
                <h2>1- Registration</h2>
                <p>If you register, you have attested that 1) you have come of making contract
                    age 2) your information is registered completely, accurately and update 3)
                    your registration and using O2Fit services have not been banned by law.
                </p>
                <p>However, O2Fit Group has right to limit, suspend or block your registration
                    or access to O2fit services in the case of violating each of conditions,
                    announcing you or not. </p>
                <h2>2- Children</h2>
                <p>The services of O2Fit Group in relation to all soft-wares of O2fit
                    (including website and mobile apps) are not for the use of individuals
                    younger than 18. If you are younger than 18 years old, you are not allowed
                    to register as a user or in any other way. </p>
                <h2>3- Commercial Intellectual Property Rights of O2Fit Fit (O2fit)</h2>
                <p>All contents, writings, logos, compilations (collecting, regulating,
                    ordering, arranging and assembling information) or any other content,
                    software and existing shows on website and O2fit app or used by O2fit except
                    the contents represented by the users are exclusively for Nations O2Fit
                    Data Processing Company (privately held company) and the official commercial
                    partners of this company. </p>
                <p>O2Fit Group has reserved explicitly all rights appointed to itself such as
                    intellectual property rights about all above mentioned items, except those
                    which have been mentioned among these conditions explicitly and bans any
                    use, redistribution, replacement, reverse engineering, parts separation,
                    translation or other kinds of exploiting them. </p>
                <p>O2fit is a registered commercial mark which belongs to Nations O2Fit Data
                    Processing Company (privately held company) and it can’t be used by any
                    other person or company in relation to any type of services or products
                    which may confuse customers or invalidate O2Fit Group. Any kind of using
                    these marks or other items which are shown in this service are exclusively
                    in the interest of Nations O2Fit Data Processing Company (privately held
                    company). </p>
                <h2>4- The Content of Users’ Registration</h2>
                <p>Information like name, personal image, telephone number, email address and
                    password are regarded as your personal information and O2fit is responsible
                    to protect them and not transfer them to any other person or company. Other
                    information that you send as a part of your registration including any data,
                    photo (except personal image), text, graphic, movie and other contents you
                    send O2fit is among your shared information and O2Fit Group is able to use
                    them to improve the quality of website or app. The user is not allowed to
                    demand for publication right or another intellectual property about
                    representing such information. So you agree that O2Fit Group is allowed to
                    register all your information, protect them and use them as a new content
                    after monitoring them. The mentioned right is exclusive, universal,
                    transferable, permanent and unreturnable to publication, distribution and
                    representation and the represented content of the user in relation to these
                    services or other services belong to Nations O2Fit Data Processing Company
                    (privately held company) is exploitable. </p>
                <h2>5- Using Services License </h2>
                <p>O2fit allows you to use the services of this website and app considering the
                    provisions of this letter of agreement for non-commercial and personal
                    purposes. O2fit services divided into two free and shared parts and it is
                    possible to use shared services when the user has paid for it. The content
                    of above mentioned services and their prices are on website and app and you
                    are not allowed to change them. By paying the cost related to using shared
                    services, you can use permitted services mentioned on website and app but
                    this doesn’t permit you to copy, publish, distribute, reverse engineering
                    and…which are mentioned above. O2fit website and app won’t be sold and the
                    users don’t have right to copy this software related to service except the
                    mentioned rights in this and they won’t obtain any other right by
                    payment. </p>
                <p>Therefore, you agree and guarantee that your use of O2fit website and app
                    services is consistent with aforementioned items and limitations and you
                    won’t violate the opposite party’s right and you will adhere to your
                    responsibilities and duties and take the responsibility of your personal
                    violations about not observing conditions related to O2fit. </p>
                <p>We reserve the right to make any changes on website and app (including free
                    or shared parts) at any time even without informing users for itself and you
                    confirm that you are aware of this matter. You agree that sometimes O2fit
                    services may be out of reach for improving quality, technical problems or
                    probable changes in special occasions (limited or unlimited). In the case of
                    such situation, no responsibility (unlimited) won’t be subjected to any of
                    O2Fit Group members. </p>
                <h2>6- Payment</h2>
                <h3>6-1 Sum and Shared Services</h3>
                <p>If you purchase shared package, you’ve paid taxes on it and O2fit won’t have
                    another request to pay tax. These prices may differ at any time according to
                    the policies of the target country. You will pay the considered sums to
                    Nations O2Fit Data Processing Company consciously through the introduced
                    bank gate and the dependent companies may save your payment characteristics
                    based on their own policies. Payment is based on your subscription duration
                    and the agreement of offering services will be cancelled automatically at
                    the end of selected time. In the case that the interacting bank won’t adhere
                    to its responsibilities (absolute and on time payment) and problems occur in
                    your payment, Nations O2Fit Data Processing Company won’t be responsible
                    for this matter. The users are not allowed to cancel the purchased services
                    before the end of purchased period. </p>
                <p>All differences in account between user and Nations O2Fit Data Processing
                    Company (privately held company) have to be reported in 24 hours from the
                    time of difference occurrence and O2Fit Company will soon take measure to
                    respond. </p>
                <h3>6-2 Repayment Policy</h3>
                <p>None of your payments will be returnable and you can use shared services of
                    O2fit during the determined period and representing services to you will be
                    terminated at the end of mentioned period. It is natural that in the case of
                    reusing, the user is able to use mentioned services to extend the shared
                    service. </p>
                <h2>7- Non-Obligatory Items </h2>
                <p>O2fit considers the following items as its rights obligatory: </p>
                <p>
                    a) To save user’s information content. </p><p>
                    b) To match user’s registered content and information with the terms of
                    services of the agreement letter and to decide based on this conformity.
                </p><p>
                    c) To remove user’s illegal or destructive contents or user’s illegal
                    registration information which are not consistent with the terms of services
                    of this agreement letter. </p><p>
                    d) To supervise, to edit and to show contents represented by user or
                    generally supervise how to use this service. </p><p>
                    e) To take measure to edit and or to remove users’ registration content or
                    information except those users who violate the terms of services of this
                    agreement letter. </p>
                <h2>8- The Source and the Volume of Represented Information to the Users
                </h2>
                <p>The represented information to the users in different parts has been prepared
                    considering nationality, habits and other localizable parameters. For
                    example, there are more than 500.000 foodstuffs in foodstuff part produced
                    in factories with name, manufacturing company, brand name, weight, consuming
                    gauges and the amount of micronutrients and macronutrients related to each
                    stuff that the number of records related to foodstuffs reaches more than
                    55.000.000 practically. Manufacturing companies usually represented a
                    limited number of nutritional values. The O2Fit Group aims at representing
                    a full list of foodstuffs to help users take step in health with full
                    information, so any disagreement among users has to be reported to O2fit to
                    be modified and then confirmed. O2Fit Group appreciate your this measure.
                </p>
                <h2>9- Linking with Third Party’s Websites</h2>
                <p>O2fit website may have links to third party’s websites. The related websites
                    are not under our control and we are not responsible for none of linked
                    websites. We have only put these links on website and app for easiness and
                    it doesn’t mean any confirmation, financial support or dependency to the
                    related website. Therefore, it is necessary to search about these third
                    parties before making any deal with them. </p>
                <h2>10- Sent Ideas to O2fit </h2>
                <p>O2fit welcomes your opinions and suggestions. If your sent suggestion be
                    confirmed by us and be used on website and app, we won’t take any
                    responsibility about the disclosure of received suggestion or its unlimited
                    use and we are allowed to use it in any way, commercially or
                    non-commercially, media and or…without paying compensation to the
                    recommender or the creator or writer of that idea. </p>
                <h2>11- Depriving Responsibility, Responsibility Limitation,
                    Compensation </h2>
                <p>You confirm that your diet and sport activities may be dangerous they may
                    cause damage or be life-threatening and you take the responsibilities of
                    these dangers.
                    <p>You have to consult with nutritionist and permissible and valid health
                        cares before starting or changing your diet and sports and to confirm
                        that O2fit has recommended you to so such consultations. </p>
                    <p>Pregnant women mustn’t use such services. O2fit services is merely an
                        information source and doesn’t offer medical consultation. Medical
                        services servers have been predicated and defined according to the rules
                        and regulations of each country. </p>
                    <p>O2fit takes no responsibility for the use of services that you use in
                        sports, foodstuffs and other services.</p>
            </div>
        }
        else
        {
            <div>
                <h1>قوانین و مقررات</h1>
                <p>مجموعه زیر شامل قوانین و مقرراتی هست که شرکت داده پردازی اکسیژن ملل ( سهامی خاص ) در رابطه با نرم افزار O2fit  و کلیه سرویسهای وب سایت ، آدرس وب سایت ، اپلیکیشن های موبایل و کلیه وب سایتهای دیگری که توسط این شرکت در حال تجارت و ارائه خدمات به شما بعنوان یک کاربر یا یک بهره بردار از این سرویس می باشید، وضع گردیده و توسط مدیران ، کارکنان ، نمایندگان و یکایک نهادهای وابسته به گروه اکسیژن به شما ارائه میگردد.</p><p>
                شما با ارائه شماره تلفن همراه یا آدرس ایمیل خود و ایجاد یک حساب کاربری ، تایید می نمایید که کلیه مفاد این قوانین را مطالعه نموده و با استفاده از آن ، موافقت می نمایید که تمام حدود تعیین شده در این آیین نامه را مورد نظر و اجرا قرار خواهید داد و گروه اکسیژن، در هر زمان و به هر صورت و تنها با یک بار اعلام به شما حق تغییر و ویرایش آن را برای خود حفط می نماید . </p><p>
                بدین واسطه کلیه کاربران ، اعم از کاربرانی که منحصرا برای رژیم شخصی خود از آن استفاده می نمایند و همچنین کاربرانی که بعنوان پزشک یا مربی از آن استفاده می کنند ( افرادی که گروهی را راهبری می نمایند ) ، را شامل می گردد . </p><p>
                لطفا قوانین این توافق نامه را  به دقت مطالعه فرموده و مرتبا بصورت دوره ای به این بخش مراجعه نمایید تا از هرگونه تغییر آن آگاه شوید . </p><p>
                در صورتی که این قوانین را نمی پذیرید ، لطفا از این سرویس استفاده نکنید . </p><h2>
                ماده ۱ – ثبت نام</h2>
                <p>در صورت ثبت نام ، شما گواهی داده اید که: </p><p>
                  ۱) به سن قانونی انعقاد قرارداد رسیده اید. </p><p>
                 ۲) ثبت اطلاعات شما بصورت کامل، دقیق و به روز می باشد</p><p>
                 ۳) ثبت نام و استفاده شما از خدمات اکسیژن ، توسط قانون ممنوع نشده است . </p><p>
                با این وجود گروه اکسیژن این حق را داراست که در صورت نقص هریک از این قوانین و شرایط ، ثبت نام و یا دسترسی شما به سرویس های O2fit را با اعلام و یا بدون اعلام به شما ، محدود ، معلق و یا مسدود نماید . </p><h2>
                ماده۲ – خردسالان</h2><p>
                خدمات گروه اکسیژن در رابطه با کلیه نرم افزارهای O2fit ( اعم از وب سایت و اپلیکیشن های موبایل ) برای مصرف افراد با سن کمتر از ۱۸ سال نمی باشد . در صورتی که سن شما کمتر از ۱۸ سال است ، اجازه ثبت نام بعنوان کاربر و یا هر نحو دیگری را ندارید. </p><h2>
                ماده ۳- مالکیت تجاری و معنوی اکسیژن فیت ( O2fit ) </h2><p>
                کلیه مطالب، نوشته ها، عکسها، لوگوها، تالیفات ( گرد آوری ، تنظیم ، ترتیب، آرایش و مونتاژ اطلاعات ) و یا هر محتوای دیگر، نرم افزار و نمایش های موجود در وب سایت و اپلیکیشن O2fit و یا استفاده شده توسط O2fit به استثناء محتوای ارائه شده کاربران، برای شرکت داده پردازی اکسیژن ملل ( سهامی خاص ) و شرکای رسمی تجاری این شرکت، اختصاصی است . </p><p>
                گروه اکسیژن صریحا تمامی حقوق منتسب به خود ، از جمله حقوق مالکیت معنوی درخصوص کلیه موارد فوق، به جز مواردی که صراحتا در این قوانین به آنها اشاره شده باشد را برای خود محفوظ داشته و هرگونه استفاده ، توزیع مجدد، فروش، جابجایی، مهندسی معکوس، جداسازی بخش ها ، ترجمه و یا سایر بهره برداری از آنها را ممنوع می داند . </p><p>
                علامت O2fit یک علامت تجاری ثبت شده است و متعلق به شرکت داده پردازی اکسیژن ملل ( سهامی خاص ) بوده و نمی تواند توسط هیچ فرد یا شرکت دیگری در رابطه با هر نوع خدمات و یا محصولات به هر صورتی که موجب سر درگمی مشتریان و یا بی اعتباری گروه اکسیژن گردد ، مورد استفاده قرارد گیرد . هرگونه استفاده از چنین علامت هایی یا سایر مواردی که در این سرویس به نمایش گذارده می شود ، صرفا به نفع شرکت داده پردازی اکسیژن ملل ( سهامی خاص ) می باشد . </p><h2>
                ماده ۴)- محتوای ثبت نام کاربران</h2><p>
                اطلاعاتی شامل نام، تصویر شخصی، شماره تلفن، آدرس ایمیل و رمز عبور به عنوان اطلاعات شخصی شما تلقی شده و O2fit وظیفه حفظ و حراست از آنها را بر عهده گرفته و به شخص یا شرکت دیگری واگذار نخواهد کرد . سایر اطلاعاتی را که شما به عنوان بخشی از ثبت نام خود برای ما ارسال می دارید شامل هرگونه داده، عکس ( بغیر از تصویر شخصی ) ، متن، گرافیک، فیلم و سایر مطالبی که برای O2fit ارسال می کنید، در زمره اطلاعات به اشتراک گذاشته شماست و گروه اکسیژن میتواند از آنها به منظور ارتقاء سطح کیفی وب سایت و اپلیکیشن استفاده نماید . در مورد ارائه چنین اطلاعاتی ، کاربر حق مطالبه هیچگونه حق چاپ یا حق مالکیت معنوی دیگری را ، نمی تواند مطالبه کند . بدین ترتیب شما موافقت می کنید که گروه اکسیژن می تواند کلیه اطلاعات ارسالی شما را ثبت و حقظ نموده وپس از پایش آنها بعنوان محتوای جدید بهره برداری نماید . حق مذکور غیر انحصاری، جهان شمول، قابل انتقال، همیشگی بوده و نسبت به انتشار ، توزیع و نمایش غیر قابل بازگشت می باشد و محتوای ارائه شده کاربر در ارتباط با این سرویس و یا سایرسرویسهای دیگری که متعلق به شرکت داده پردازی اکسیژن ملل ( سهامی خاص) باشد، قابل بهره برداری می باشد. </p><h2>
                ماده ۵)- مجوز استفاده از خدمات</h2><p>
                O2fit به شما اجازه می دهد تا منوط به مفاد این توافق نامه ، از خدمات این وب سایت و اپلیکیشن برای اهداف غیر تجاری و شخصی استفاده نمائید . سرویسهای O2fit در دو بخش رایگان و اشتراکی تقسیم بندی شده اند و استفاده از سرویسهای اشتراکی در صورتی امکان پذیر است که هزینه های مربوط به آن، توسط کاربر پرداخت شده باشد. محتوای سرویسهای فوق الذکر و مبالغ آن در وب سایت و اپلیکیشن موجود می باشد و شما امکان تغییر در آنها را ندارید . با پرداخت وجه مربوط به استفاده از سرویس اشتراکی ، تنها می توانید از خدمات مجاز ذکر شده در وب سایت و اپلیکیشن استفاده کنید و شما را مجاز به کپی برداری ، انتشار، توزیع ، مهندسی معکوس و ... که در بالا ذکر شده است نمی سازد . وب سایت و اپلیکیشن O2fit فروخته نمی شود، و به هیچ وجه حق نسخه برداری از نرم افزار مربوط به سرویس به غیر از حقوق توصیف شده در این بند را نداشته و با پرداخت خود حق دیگری را کسب نمی نمایید . </p><p>
                بدین ترتیب شما موافقت و ضمانت می کنید که استفاده شما از سرویس های وب سایت و اپلیکیشن اکسیژن فیت، با موارد و محدودیتهای فوق الذکر سازگار بوده و حق طرف مقابل را نقض نخواهید کرد و به مسئولیتها و وظایف خود پایبند هستید و مسئولیت تخلفات شخصی خود در مورد عدم رعایت مقررات مربوط به O2fit را به عهده می گیرید . </p><p>
                ما ، حق اجرای هرگونه تغییر در وب سایت و اپلیکیشن ( اعم از بخشهای مجانی یا اشتراکی ) در هر زمان ، حتی بدون اطلاع رسانی را برای خود حفظ میکنیم و شما تایید می نمایید که از این موضوع آگاهی دارید . شما قبول می نمایید که بمنظور ارتقاء سطح کیفی ، مشکلات فنی و یا تغییرات احتمالی، ممکن است در مواقعی خاص (به صورت محدود یا بدون محدودیت) سرویس O2fit از دسترس خارج گردد . در صورت بروز چنین مواردی، هیچ مسئولیتی (بدون محدودیت) متوجه هیچ یک از اعضای گروه اکسیژن نخواهد بود . </p><h2>
                ماده ۶)- پرداخت</h2><h3>
                ۶-۱ مبلغ و خدمات اشتراکی</h3><p>
                درصورتیکه شما نسبت به خرید پکیج اشتراکی اقدام نمایید ، مالیاتهای مرتبط به آن را هم پرداخت کرده اید و O2fit درخواست دیگری مبنی بر پرداخت مالیات نخواهد داشت . این قیمتها در هر زمانی بنا بر سیاستهای کشور هدف، می تواند تغییر نماید . شما با آگاهی ، مبالغ مورد نظر را به شرکت داده پردازی اکسیژن ملل و تنها از درگاه بانکی معرفی شده ، پرداخت خواهید نمود و شرکتهای وابسته بر اساس سیاستهای خود ممکن است مشخصات پرداختی شما را ذخیره کنند . پرداخت بر اساس مدت زمان اشتراک شما صورت می گیرد و در پایان موعد زمان انتخاب شده ، قرارداد ارائه خدمات خود به خود فسخ می گردد . در صورتیکه بانک تعامل کننده نسبت به مسئولیت های خود (پرداخت قطعی و به موقع) پایبند نبوده و اشکالی در زمینه پرداخت شما رخ دهد ، مسئولیت این امر با شرکت داده پردازی اکسیژن ملل (سهامی خاص) نخواهد بود . امکان فسخ خدمات خریداری شده توسط کاربران قبل از اتمام دوره خریداری شده وجود ندارد . </p><p>
                کلیه موارد اختلاف حساب بین کاربر و داده پردازی اکسیژن ملل (سهامی خاص) باید ظرف ۲۴ ساعت از زمان وقوع اختلاف، گزارش داده شود و شرکت اکسیژن در اسرع وقت نسبت به پاسخگویی اقدام خواهد نمود . </p><h3>
                ۶-۲ سیاست بازپرداخت</h3><p>
                هیچ یک از پرداخت های شما قابل بازگشت نخواهد بود و شما در دوره تعیین شده می توانید از خدمات اشتراکی O2fit استفاده کرده و در پایان دوره مذکور ، ارائه خدمات به شما منقضی می گردد . طبیعیست در صورت تمایل به استفاده مجدد می توانید با تمدید دوباره سرویس اشتراکی، از سرویسهای مذکور استفاده نمایید . </p><h3>
                ماده ۷)- موارد غیر الزام آور</h3><p>
                O2fit در موارد زیر ، بصورت غیر الزام آور حق خود می داند که: </p><p>
                الف)  محتوای اطلاعات کاربر را ذخیره نماید . </p><p>
                ب)  محتوا و اطلاعات ثبت نام کاربر را ، با شرایط و ضوابط این توافق نامه مطابقت دهد و نسبت به این تطابق تصمیم گیری نماید . ج)  مطالب ارائه شده غیر قانونی یا مخرب کاربر یا اطلاعات ثبت نامی غیر قانونی کاربر که با شرایط و ضوابط این توافق نامه مطابقت ندارد را حذف نماید . </p><p>
                د)  نظارت، ویرایش و نمایش اطلاعات ارائه شده توسط کاربر و یا بطور کلی نظارت بر نحوه استفاده شما از این سرویس. </p><p>
                ذ)  صرف نظر از محتوای کاربرانی که شرایط و ضوابط این توافق نامه را نقض می نمایند، نسبت به ویرایش و یا حذف محتوا و اطلاعات ثبت نام سایر کاربران اقدام نماید. </p><h2>
                ماده ۸) – منابع و حجم اطلاعات ارائه شده به کاربران</h2><p>
                اطلاعات ارائه شده به کاربران در بخشهای مختلف، باتوجه به ملیت ، عادات و سایر پارامترهای قابل بومی شدن ، تهیه شده است . بعنوان مثال در بخش مواد غذایی بالغ بر 000/500 ماده غذایی تولید شده در کارخانجات به همراه نام، شرکت سازنده، نام برند، وزن، پیمانه های مصرفی و میزان ریز مغذی ها و درشت مغذی های مربوط به هر ماده وجود دارد ، که عملا  تعداد رکورد های مرتبط با مواد غذائی به بیش از 000/000/55 میرسد . شرکت های سازنده عموما تعداد محدودی از ارزش های غذایی مواد را ارائه می دهند . تلاش گروه اکسیژن ارائه مشخصات کامل مواد غذایی می باشد ، تا کاربران با اطلاعات کامل در جهت سلامتی قدم گذارند، در این راستا در صورتیکه اختلافی توسط کاربران مشاهده گردید لازم است تا موارد به O2fit گزارش شده تا نسبت به اصلاح آن ، پس از تایید صورت پذیرد . گروه اکسیژن از این اقدام شما قدردانی می نماید . </p><h2>
                ماده ۹)- لینک به وب سایت های شخص ثالث</h2><p>
                وب سایت O2fit  ممکن است دارای لینک هایی به وب سایت های شخص ثالث باشد. سایت های مرتبط تحت کنترل ما نیستند و ما مسئول محتوای هیچ سایت پیوندی نیستیم. ما این لینک ها را فقط به عنوان راحتی در این وب سایت و اپلیکیشن قرار داده ایم و پیوندی به معنای تایید ، حمایت مالی یا وابستگی با سایت مرتبط، توسط ما وجود ندارد . لذا لازم است قیل از انجام هرگونه معامله با هر یک از این اشخاص ثالث ، تحقیقات لازم را انجام دهید. </p><h2>
                ماده ۱۰)- ایده های ارسالی به اکسیژن فیت</h2><p>
                O2fit از دریافت نظرات و پیشنهادات شما استقبال می نماید.در صورتیکه پیشنهادات ارسالی شما مورد تایید ما قرار گیرد و در وب سایت و اپلیکیشن از آنها استفاده گردد، ما هیچگونه مسئولیتی را در قبال افشای پیشنهاد دریافت شده ، استفاده بدون محدودیت از آن ، نمی پذیریم و خود را مجاز دانسته تا به هر صورت و نحوی، بصورت تجاری یا غیر تجاری، رسانه ای و یا غیره ، بدون پرداخت غرامت به پیشنهاد دهنده ، نویسنده یا خالق آن پیشنهاد، استفاده نماییم. </p><h2>
                ماده ۱۱) – سلب مسئولیت، محدودیت مسئولیت، غرامت</h2><p>
                شما تایید می کنید که رژیم و فعالیتهای ورزشی شما شامل خطراتی می شود که ممکن است موجب آسیب دیدگی گردد و یا خطر جانی در پی داشته باشد و شما مسئولیت آن خطرات را بر عهده می گیرید. </p><p>
                شما باید قبل از شروع یا تغییر برنامه رژیم غذایی یا ورزشهای خود، با متخصصین تغذیه و مراقبتهای بهداشتی مجاز و معتبر مشورت کنید و تصدیق می نمایید که O2fit انجام چنین مشاوره هایی را به شما توصیه کرده است . </p><p> 
                این سرویسها نباید توسط زنان باردار مورد استفاده قرار گیرند . سرویسهای O2fit ، صرفا به عنوان منبع اطلاعاتی عمل کرده و مشاوره پزشکی ارائه نمی دهد . ارائه دهندگان خدمات پزشکی مطابق قوانین و مقررات هر کشوری پیش بینی و تعریف شده اند. </p><p>
                O2fit در قبال استفاده شما از خدمات و سرویسهای خود در زمینه ورزش و مواد غذایی و سایر سرویسهایی که استفاده می نمایید ، هیچگونه مسئولیتی را نمی پذیرد .  </p>
            </div>
        }
    </div>
</div>
